:root {
    --tamanoFuenteNav: 30px;
    --tamanoFuenteSeccion: 20px;
}

html {
    scroll-behavior: smooth;

}

/*
body:before {

    content: "";
    position: fixed;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    z-index: -1;
    background: #D8D8D8;
    background: linear-gradient(150deg, #ff983f 0, #ff8847 12.5%, #ff764d 25%, #ff6551 37.5%, #f25353 50%, #dd4253 62.5%, #c93454 75%, #b72954 87.5%, #a72055 100%);
}
*/
body {
    position: relative;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 95vh;
    /*box-sizing: content-box;*/
}


#container {
    display: flex;
    position: relative;
    width: 95%;
    height: 95%;
    margin: 10px;

    flex-direction: column;
    outline: solid green 7px;
    box-sizing: border-box;
    justify-content: space-evenly;


    /*overflow-x: hidden;*/
}

nav {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    outline: pink solid 3px;
    align-self: flex-start;

}

#accesosNav {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;

}

#accesosNav div {
    font: var(--tamanoFuenteNav) black;
    align-self: center;

}




/*
header {
    position: fixed;
    display: flex;
    margin: 50px;
    background-image: linear-gradient(215deg, #ff983f 0, #ff8847 12.5%, #ff764d 25%, #ff6551 37.5%, #f25353 50%, #dd4253 62.5%, #c93454 75%, #b72954 87.5%, #a72055 100%);
}
*/

.atajoNav a {
    color: black;
}

/* Unvisited link  */
.atajoNav a:visited {
    color: black;
}

/* Visited link    */
.atajoNav a:hover {
    color: #FF00FF;
}

/* Mouse over link */
.atajoNav a:active {
    color: #0000FF;
}



/*
nav {

    width: 100%;
    height: 2rem;
    padding-top: 1rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}

ul {
    list-style: none;
}

a {
    color: black
}

nav li {
    color: white;
    padding: 0.3rem;
    font-family: sans-serif;
    font: solid black;
    font-size: 1.2rem;

}

header div {
    display: inline;
    padding: 0.5rem 0.5rem;
    border-radius: 10%;
}

header div:hover {
    background-color: rgb(236, 91, 6);
    transition-duration: 1s;
}



#input-nav {
    display: none;
}

#input-nav:checked~nav {
    display: flex;
}


label {

    height: 5rem;
    flex-shrink: 0;
    display: block;
    padding: 1rem 0rem 0em 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


span::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2px;
    background-color: white;
    margin-bottom: 0.5rem;
}
*/

#foto {
    display: flex;
    flex-basis: auto;
    flex-shrink: 100;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
}


.seccionPortfolio {

    outline: blue solid 3px;

    font: var(--tamanoFuenteNav) black;
    width: 95%;
    height: 100px;

}


/*
.cuadrado {
    outline: solid blue 3px;
    margin: 20px;
    height: 150px;
    width: 150px;

}