:root {
    --tamanoFuenteNav: 1em;
    --tamanoFuenteSeccion: 1.3em;

    --fuente: Noe Display, Georgia, Tahoma;
    --colorFuente: rgb(160, 169, 187);


    --colorFuentePreTitulo: rgb(236, 116, 100);


}



html {
    scroll-behavior: smooth;
    min-height: 100%;

}




body {
    background: rgb(14, 20, 27);
    background: linear-gradient(180deg, rgba(14, 20, 27, 1) 0%, rgba(13, 18, 25, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
    margin: 0;
    margin: auto;
    padding: 0;
    width: 98vw;
    height: 100vh;
    overflow-y: auto;
    color: var(--colorFuente);
}





#container {
    display: flex;
    width: 100%;
    height: 100%;
    outline: solid green 1px;
    flex-direction: column;
    gap: 10%;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    width: 98vw;
    height: 5%;
    background-color: rgba(148, 202, 148, 0.267);
    margin-bottom: 10%;
}

.atajoNav {
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: rgba(163, 107, 107, 0.116);
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    font-size: var(--tamanoFuenteNav);
    color: var(--colorFuente)
}

.atajoNav a {
    color: black;
}

/* Unvisited link  */
.atajoNav a:visited {
    color: black;
}

/* Visited link    */
.atajoNav a:hover {
    color: #FF00FF;
}

/* Mouse over link */
.atajoNav a:active {
    color: #0000FF;
}


.saludo {
    display: block;
    outline: green solid 1px
}

#preTitulo {
    color: var(--colorFuentePreTitulo)
}

.seccion {
    display: flex;
    width: 1fr;
    height: 1fr;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-height: min-content;
    /*outline: solid blue 1px;*/
    font-size: var(--tamanoFuenteSeccion);
}



#containerFoto {
    width: 100%;
    height: fit-content;
    outline: red 2px solid;
    margin-top: 2%;

}

#circulo {
    background: rgb(150, 154, 156);
    border-radius: 50%;
    width: 230px;
    height: 230px;
}